@import "reset.css";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* container 제작 */

.container {
  box-sizing: content-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  width: 100%;
}

.contents_logo {
  width: 250px;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 30px;
}

h5 {
  color: #8e8f8f;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 160%;
}

.contents_list {
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.contents_report {
  display: flex;
  width: 500px;
  height: 400px;
  background-color: #04aa6d;
}

/* side 메뉴바 제작 */

#sidenav a {
  position: absolute;
  right: -130px; /* 화면 외부에 배치 후 안으로 들어오게 보임 */
  text-align: center; /* 글자 정렬 */
  transition: 0.3s; /* hover 움직이는 시간 */
  padding: 15px; /* 상자 안여백 */
  width: 150px; /* 상자 폭 */
  text-decoration: none; /* 언더라인 제거 */
  font-size: 20px; /* 글자크기 */
  color: white; /* 글자색 */
  border-radius: 5px 0 0 5px; /* 도형 모서리 둥글게 좌상, 좌하 5px 설정 */
}

#sidenav a:hover {
  right: -20px; /* 움직이는 위치 */
}

#sidenav_about {
  top: 20px;
  background-color: #04aa6d;
}

#sidenav_homepage {
  top: 80px;
  background-color: #2196f3;
}

#sidenav_projects {
  top: 140px;
  background-color: #f44336;
}

#sidenav_contact {
  top: 200px;
  background-color: #555;
}
