@import "reset.css";

/* container 제작 */

.container {
  overflow-x: hidden;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}

.contents_logo {
  width: 250px;
  margin-bottom: 50px;
}

h1,
h5 {
  word-break: keep-all;
}

h1 {
  font-size: 50px;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 30px;
}

h5 {
  color: #8e8f8f;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 160%;
  padding-bottom: 50px;
}

.contents_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px; /* 그리드 항목들 사이의 간격 */
}

.contents_report {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: white;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}

.contents_report::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.contents_report:hover::before,
.contents_report:hover .report_name {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.report_name {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  z-index: 2;
}

#report_jeongok {
  background-image: url(../img/jeongok.png);
}

#report_cheonma {
  background-image: url(../img/cheonma.jpeg);
}

#report_songguk {
  background-image: url(../img/songguk.jpeg);
}

#report_miruk {
  background-image: url(../img/miruk.jpeg);
}

/* side 메뉴바 제작 */

#sidenav a {
  position: absolute;
  right: -150px; /* 화면 외부에 배치 후 안으로 들어오게 보임 */
  text-align: center; /* 글자 정렬 */
  transition: 0.3s; /* hover 움직이는 시간 */
  padding: 15px; /* 상자 안여백 */
  width: 150px; /* 상자 폭 */
  text-decoration: none; /* 언더라인 제거 */
  font-size: 20px; /* 글자크기 */
  color: white; /* 글자색 */
  border-radius: 5px 0 0 5px; /* 도형 모서리 둥글게 좌상, 좌하 5px 설정 */
}

#sidenav a:hover {
  right: -20px; /* 움직이는 위치 */
}

#sidenav_about {
  top: 20px;
  background-color: #f44336;
}

#sidenav_homepage {
  top: 80px;
  background-color: #f7c00b;
}

#sidenav_projects {
  top: 140px;
  background-color: #2196f3;
}

#sidenav_contact {
  top: 200px;
  background-color: #555;
}
