img {
  display: block;
  width: 80%;
  margin: auto;
}

figure {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  font-size: 11vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 30px;
}

h4 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 25px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  font-size: 16px;
  font-weight: 200;
  text-indent: 16px;
  margin-bottom: 5px;
  line-height: 200%;
  text-align: justify;
}

.figure {
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.contents_container ul {
  padding-top: 30px;
  padding-left: 50px;
}

.contents_container li {
  padding-bottom: 10px;
}

.intro_sign {
  display: inline;
  position: relative;
  width: 200px;
  height: auto;
  padding-left: 20px;
  bottom: -10px;
}

sup {
  vertical-align: super;
}

ol {
  margin-left: 20px;
}
